@model IEnumerable<CommInfo.Models.Forum>

@{
    ViewBag.Title = "Fora Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ForumName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ForumName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ForumID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ForumID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ForumID })
        </td>
    </tr>
}

</table>
